*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
}
.container{
   
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    background-color: #1e1e2f;
    border: solid;
    height: 88vmin;
    width: 60vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    border-radius: 1rem;
    box-shadow: 1vmin 1vmin 0 #15152b;
}

#display{
    background-color: #565677;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem;
    border: solid black;
    height: 20vmin;
    width: 55vmin;
    font-size: 3rem;
    text-align: right;
}

.keypad{
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.buttons{
    
    border: solid black;
    border-radius: 5rem;
    height: 13vmin;
    width: 13vmin;
    font-size: 2rem;
   background-color: #3b3b4f;
   color: #ffffff;
   transition: background-color 0.2s;
}

.buttons:hover{
    background-color: #2a2a40;
}

.operators{
    background-color:#ff6200 ;
}

.operators:hover{
    background-color: #c14d04  ;
}

.equal{
    background-color: #34c759;
}

.equal:hover{
    background-color: #259541;
}

.clear{
    background-color:#ff3b30;
}

.clear:hover{
    background-color:#ce2e25;
}
